* {
    padding: 0px;
    margin: 0px;
    color: white;
}
.page {
    display:grid;
    grid-template-rows: 4vh 96vh;
}

.header {
    background: rgb(54, 54, 54);
    display:flex;
    align-items: center;
    padding-left: 2em;

}

.container {
    display:grid;
    grid-template-areas: 
    "left right";
    grid-template-columns: 15vw auto;
    
}
.left {
    padding: 2em 3em;
    grid-area: left;
    background: rgb(37, 37, 37);
}
#default-list {
    
    list-style-type: none;
}
.right {
    padding: 2em 3em;
    grid-area:right;
    background: rgb(24, 24, 24);
    flex-direction: column;
    display: flex;
    align-items: stretch;
    padding: 4rem 13rem 0rem 13rem;
}
#current-list-title{
    padding-bottom: 2em;
}
.tasks{
    padding-left: 2em;
    list-style-type: none;
}
.tasks li {
    padding-bottom: 1em;
}
#new-task {
    color: red;
}
#task-creation {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "title title"
    "desc desc"
    "date group"
    "new cancel";
    
}
#task-creation-title {
    border: none;
    grid-area: title;
}
#task-creation-desc {
    border: none;
    grid-area: desc;
}
#task-creation-date {
    grid-area: date;
}
#task-creation-group {
    grid-area: group;
}
#task-creation-button {
    grid-area: new;
}
#task-creation-cancel-button {
    grid-area: cancel;
}
input[type="text"], textarea {

    background-color :  rgb(24, 24, 24);
    resize: none; 
  
}
input[type='date'], input {
    background-color :  rgb(24, 24, 24);
    resize: none; 
    padding-right: 5px;

}
#task-creation-button {
    background:rgb(255, 87, 87);
    border: none;
}
#task-creation-cancel-button {
    background:rgb(54, 54, 54);
    border: none;
}
.displayed-task {
    display:grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "displayedTitle displayedTitle displayedTitle"
    "displayedDesc displayedDesc displayedDesc"
    "displayedDate displayedGroup displayedEdit";
}
.displayed-task-title {
    grid-area: displayedTitle;
}
.displayed-task-desc {
    grid-area: displayedDesc;
}
.displayed-task-group {
    grid-area: displayedGroup;
}
.displayed-task-date {
    grid-area: displayedDate;
}
.displayed-task-edit {
    grid-area: displayedEdit;
    background:rgb(24, 24, 24);
    color: red;
}
.selected-list {
    color:red;
}
.save-edit-button {
    background:rgb(255, 87, 87);
    border: none;
    color: white;
}
