* {
    padding: 0px;
    margin: 0px;
    color: white;
}
.page {
    display:grid;
    grid-template-rows: 4vh 96vh;
}

.header {
    background: rgb(54, 54, 54);
    display:flex;
    align-items: center;
    padding-left: 2em;

}

.container {
    display:grid;
    grid-template-areas: 
    "left right";
    grid-template-columns: 15vw auto;
    
}
.left {
    padding: 2em 3em;
    grid-area: left;
    background: rgb(37, 37, 37);
}
#default-list {
    
    list-style-type: none;
}
.right {
    padding: 2em 3em;
    grid-area:right;
    background: rgb(24, 24, 24);
    flex-direction: column;
    display: flex;
    align-items: stretch;
    padding: 4rem 13rem 0rem 13rem;
}
.current-list-title{
    padding-bottom: 5em;
}
.tasks{
    padding-left: 2em;
    list-style-type: none;
}
.tasks li {
    padding-bottom: 1em;
}
#new-task {
    color: red;
}
#task-creation-title {
    width:100%;
}

input[type="text"], textarea {

    background-color :  rgb(54, 54, 54);
  
  }
#task-creation-button {
    background:rgb(24, 24, 24);
}